/.output.txt
/alliance_auth.sqlite3
/build/evesettingscopy/Analysis-00.toc
/build/evesettingscopy/base_library.zip
/check_db.py
/dist/settings_Cap_Alt/core_char_90065625.dat
/dist/settings_Default/core_char_90065625.dat
/dist/settings_Mining_Alt/core_char_90065625.dat
/dist/settings_Cap_Alt/core_char_90065625.dat.bak
/dist/settings_Default/core_char_90065625.dat.bak
/dist/settings_Mining_Alt/core_char_90065625.dat.bak
/dist/settings_Cap_Alt/core_char_92157374.dat
/dist/settings_Default/core_char_92157374.dat
/dist/settings_Mining_Alt/core_char_92157374.dat
/dist/settings_Cap_Alt/core_char_92157374.dat.bak
/dist/settings_Default/core_char_92157374.dat.bak
/dist/settings_Mining_Alt/core_char_92157374.dat.bak
/dist/settings_Cap_Alt/core_char_93104658.dat
/dist/settings_Default/core_char_93104658.dat
/dist/settings_Mining_Alt/core_char_93104658.dat
/dist/settings_Cap_Alt/core_char_93104658.dat.bak
/dist/settings_Default/core_char_93104658.dat.bak
/dist/settings_Mining_Alt/core_char_93104658.dat.bak
/dist/settings_Cap_Alt/core_char_96755299.dat
/dist/settings_Default/core_char_96755299.dat
/dist/settings_Mining_Alt/core_char_96755299.dat
/dist/settings_Cap_Alt/core_char_96755299.dat.bak
/dist/settings_Default/core_char_96755299.dat.bak
/dist/settings_Mining_Alt/core_char_96755299.dat.bak
/dist/settings_Cap_Alt/core_char_212620763.dat
/dist/settings_Default/core_char_212620763.dat
/dist/settings_Mining_Alt/core_char_212620763.dat
/dist/settings_Cap_Alt/core_char_690171834.dat
/dist/settings_Default/core_char_690171834.dat
/dist/settings_Mining_Alt/core_char_690171834.dat
/dist/settings_Cap_Alt/core_char_690171834.dat.bak
/dist/settings_Default/core_char_690171834.dat.bak
/dist/settings_Mining_Alt/core_char_690171834.dat.bak
/dist/settings_Cap_Alt/core_char_831361568.dat
/dist/settings_Default/core_char_831361568.dat
/dist/settings_Mining_Alt/core_char_831361568.dat
/dist/settings_Cap_Alt/core_char_831361568.dat.bak
/dist/settings_Default/core_char_831361568.dat.bak
/dist/settings_Mining_Alt/core_char_831361568.dat.bak
/dist/settings_Cap_Alt/core_char_1192746059.dat
/dist/settings_Default/core_char_1192746059.dat
/dist/settings_Mining_Alt/core_char_1192746059.dat
/dist/settings_Cap_Alt/core_char_1192746059.dat.bak
/dist/settings_Default/core_char_1192746059.dat.bak
/dist/settings_Mining_Alt/core_char_1192746059.dat.bak
/dist/settings_Cap_Alt/core_char_1658035434.dat
/dist/settings_Default/core_char_1658035434.dat
/dist/settings_Mining_Alt/core_char_1658035434.dat
/dist/settings_Cap_Alt/core_char_1658035434.dat.bak
/dist/settings_Default/core_char_1658035434.dat.bak
/dist/settings_Mining_Alt/core_char_1658035434.dat.bak
/dist/settings_Cap_Alt/core_char_1957066963.dat
/dist/settings_Default/core_char_1957066963.dat
/dist/settings_Mining_Alt/core_char_1957066963.dat
/dist/settings_Cap_Alt/core_char_1957066963.dat.bak
/dist/settings_Default/core_char_1957066963.dat.bak
/dist/settings_Mining_Alt/core_char_1957066963.dat.bak
/dist/settings_Mining_Alt/core_char_2118114546.dat
/dist/settings_Mining_Alt/core_char_2118114546.dat.bak
/dist/settings_Cap_Alt/core_char__.dat
/dist/settings_Default/core_char__.dat
/dist/settings_Mining_Alt/core_char__.dat
/dist/settings_Cap_Alt/core_char__.dat.bak
/dist/settings_Default/core_char__.dat.bak
/dist/settings_Mining_Alt/core_char__.dat.bak
/dist/settings_Cap_Alt/core_public__.yaml
/dist/settings_Default/core_public__.yaml
/dist/settings_Mining_Alt/core_public__.yaml
/dist/settings_Cap_Alt/core_user_325922.dat
/dist/settings_Default/core_user_325922.dat
/dist/settings_Mining_Alt/core_user_325922.dat
/dist/settings_Cap_Alt/core_user_325922.dat.bak
/dist/settings_Default/core_user_325922.dat.bak
/dist/settings_Mining_Alt/core_user_325922.dat.bak
/dist/settings_Cap_Alt/core_user_506792.dat
/dist/settings_Default/core_user_506792.dat
/dist/settings_Mining_Alt/core_user_506792.dat
/dist/settings_Cap_Alt/core_user_1626616.dat
/dist/settings_Default/core_user_1626616.dat
/dist/settings_Mining_Alt/core_user_1626616.dat
/dist/settings_Cap_Alt/core_user_1626616.dat.bak
/dist/settings_Default/core_user_1626616.dat.bak
/dist/settings_Mining_Alt/core_user_1626616.dat.bak
/dist/settings_Cap_Alt/core_user_2506551.dat
/dist/settings_Default/core_user_2506551.dat
/dist/settings_Mining_Alt/core_user_2506551.dat
/dist/settings_Cap_Alt/core_user_2506551.dat.bak
/dist/settings_Default/core_user_2506551.dat.bak
/dist/settings_Mining_Alt/core_user_2506551.dat.bak
/dist/settings_Cap_Alt/core_user_4175886.dat
/dist/settings_Default/core_user_4175886.dat
/dist/settings_Mining_Alt/core_user_4175886.dat
/dist/settings_Cap_Alt/core_user_4175886.dat.bak
/dist/settings_Default/core_user_4175886.dat.bak
/dist/settings_Mining_Alt/core_user_4175886.dat.bak
/dist/settings_Cap_Alt/core_user_9721440.dat
/dist/settings_Default/core_user_9721440.dat
/dist/settings_Mining_Alt/core_user_9721440.dat
/dist/settings_Cap_Alt/core_user_9721440.dat.bak
/dist/settings_Default/core_user_9721440.dat.bak
/dist/settings_Mining_Alt/core_user_9721440.dat.bak
/dist/settings_Cap_Alt/core_user_13491328.dat
/dist/settings_Default/core_user_13491328.dat
/dist/settings_Mining_Alt/core_user_13491328.dat
/dist/settings_Cap_Alt/core_user_13491328.dat.bak
/dist/settings_Default/core_user_13491328.dat.bak
/dist/settings_Mining_Alt/core_user_13491328.dat.bak
/dist/settings_Cap_Alt/core_user_23435334.dat
/dist/settings_Default/core_user_23435334.dat
/dist/settings_Mining_Alt/core_user_23435334.dat
/dist/settings_Cap_Alt/core_user_23435334.dat.bak
/dist/settings_Default/core_user_23435334.dat.bak
/dist/settings_Mining_Alt/core_user_23435334.dat.bak
/dist/settings_Cap_Alt/core_user__.dat
/dist/settings_Default/core_user__.dat
/dist/settings_Mining_Alt/core_user__.dat
/dist/settings_Cap_Alt/core_user__.dat.bak
/dist/settings_Default/core_user__.dat.bak
/dist/settings_Mining_Alt/core_user__.dat.bak
/dist/evesettingscopy.exe
/build/evesettingscopy/evesettingscopy.pkg
/aasubsidy/evesettingscopy.py
/evesettingscopy.spec
/build/evesettingscopy/EXE-00.toc
/inspect_models.py
/build/evesettingscopy/PKG-00.toc
/dist/settings_Cap_Alt/prefs.ini
/dist/settings_Default/prefs.ini
/dist/settings_Mining_Alt/prefs.ini
/build/evesettingscopy/PYZ-00.pyz
/build/evesettingscopy/PYZ-00.toc
/aasubsidy/tests/test_aasubsidy.py
/build/evesettingscopy/warn-evesettingscopy.txt
/.idea/workspace.xml
/build/evesettingscopy/xref-evesettingscopy.html
/.codex_tmp/allianceauth-4.13.1-py3-none-any.whl
/.codex_tmp/allianceauth_corptools-2.15.2-py3-none-any.whl
/.codex_tmp/amqp-5.3.1-py3-none-any.whl
/.codex_tmp/annotated_types-0.7.0-py3-none-any.whl
/.codex_tmp/anyio-4.13.0-py3-none-any.whl
/.codex_tmp/asgiref-3.11.1-py3-none-any.whl
/.codex_tmp/attrs-26.1.0-py3-none-any.whl
/.codex_tmp/bcrypt-4.3.0-cp39-abi3-win_amd64.whl
/.codex_tmp/beautifulsoup4-4.14.3-py3-none-any.whl
/.codex_tmp/billiard-4.2.4-py3-none-any.whl
/.codex_tmp/bravado-11.1.0-py2.py3-none-any.whl
/.codex_tmp/bravado_core-6.3.1-py3-none-any.whl
/.codex_tmp/brotli-1.2.0-cp312-cp312-win_amd64.whl
/.codex_tmp/celery-5.6.3-py3-none-any.whl
/.codex_tmp/celery_once-3.0.1.tar.gz
/.codex_tmp/certifi-2026.4.22-py3-none-any.whl
/.codex_tmp/charset_normalizer-3.4.7-cp312-cp312-win_amd64.whl
/.codex_tmp/click-8.3.3-py3-none-any.whl
/.codex_tmp/click_didyoumean-0.3.1-py3-none-any.whl
/.codex_tmp/click_plugins-1.1.1.2-py2.py3-none-any.whl
/.codex_tmp/click_repl-0.3.0-py3-none-any.whl
/.codex_tmp/colorama-0.4.6-py2.py3-none-any.whl
/.codex_tmp/confusable_homoglyphs-3.3.1-py2.py3-none-any.whl
/.codex_tmp/cron_descriptor-1.4.5-py3-none-any.whl
/.codex_tmp/django-4.2.30-py3-none-any.whl
/.codex_tmp/django-bootstrap-form-3.4.tar.gz
/.codex_tmp/django_bootstrap5-26.2-py3-none-any.whl
/.codex_tmp/django_celery_beat-2.9.0-py3-none-any.whl
/.codex_tmp/django_esi-8.4.0-py3-none-any.whl
/.codex_tmp/django_model_utils-5.0.0-py3-none-any.whl
/.codex_tmp/django_ninja-1.6.2-py3-none-any.whl
/.codex_tmp/django_redis-6.0.0-py3-none-any.whl
/.codex_tmp/django_registration-3.3-py3-none-any.whl
/.codex_tmp/django_solo-2.5.1-py3-none-any.whl
/.codex_tmp/django_sortedm2m-4.0.0-py2.py3-none-any.whl
/.codex_tmp/django_sri-0.8.0-py3-none-any.whl
/.codex_tmp/django_timezone_field-7.2.1-py3-none-any.whl
/.codex_tmp/dnspython-2.8.0-py3-none-any.whl
/.codex_tmp/ecdsa-0.19.2-py2.py3-none-any.whl
/.codex_tmp/email_validator-2.3.0-py3-none-any.whl
/.codex_tmp/h2-4.3.0-py3-none-any.whl
/.codex_tmp/h11-0.16.0-py3-none-any.whl
/.codex_tmp/hpack-4.1.0-py3-none-any.whl
/.codex_tmp/httpcore-1.0.9-py3-none-any.whl
/.codex_tmp/httpx-0.28.1-py3-none-any.whl
/.codex_tmp/hyperframe-6.1.0-py3-none-any.whl
/.codex_tmp/idna-3.13-py3-none-any.whl
/.codex_tmp/importlib_resources-7.1.0-py3-none-any.whl
/.codex_tmp/jmespath-1.1.0-py3-none-any.whl
/.codex_tmp/jsonref-1.1.0-py3-none-any.whl
/.codex_tmp/jsonschema-3.2.0-py2.py3-none-any.whl
/.codex_tmp/kombu-5.6.2-py3-none-any.whl
/.codex_tmp/monotonic-1.6-py2.py3-none-any.whl
/.codex_tmp/more_itertools-11.0.2-py3-none-any.whl
/.codex_tmp/msgpack-1.1.2-cp312-cp312-win_amd64.whl
/.codex_tmp/multidict-6.7.1-cp312-cp312-win_amd64.whl
/.codex_tmp/mysqlclient-2.2.8-cp312-cp312-win_amd64.whl
/.codex_tmp/networkx-3.6.1-py3-none-any.whl
/nul
/.codex_tmp/oauthlib-3.3.1-py3-none-any.whl
/.codex_tmp/openfire_restapi-0.2.0-py3-none-any.whl
/.codex_tmp/packaging-26.2-py3-none-any.whl
/.codex_tmp/passlib-1.7.4-py2.py3-none-any.whl
/.codex_tmp/prompt_toolkit-3.0.52-py3-none-any.whl
/.codex_tmp/propcache-0.4.1-cp312-cp312-win_amd64.whl
/.codex_tmp/pyasn1-0.6.3-py3-none-any.whl
/.codex_tmp/pyasn1_modules-0.4.2-py3-none-any.whl
/.codex_tmp/pydantic-2.11.9-py3-none-any.whl
/.codex_tmp/pydantic_core-2.33.2-cp312-cp312-win_amd64.whl
/.codex_tmp/pydiscourse-1.7.0-py2.py3-none-any.whl
/.codex_tmp/pyrsistent-0.20.0-cp312-cp312-win_amd64.whl
/.codex_tmp/python_crontab-3.3.0-py3-none-any.whl
/.codex_tmp/python_dateutil-2.9.0.post0-py2.py3-none-any.whl
/.codex_tmp/python_jose-3.5.0-py2.py3-none-any.whl
/.codex_tmp/python_slugify-8.0.4-py2.py3-none-any.whl
/.codex_tmp/pytz-2026.1.post1-py2.py3-none-any.whl
/.codex_tmp/pyyaml-6.0.3-cp312-cp312-win_amd64.whl
/.codex_tmp/redis-7.4.0-py3-none-any.whl
/.codex_tmp/requests-2.33.1-py3-none-any.whl
/.codex_tmp/requests_oauthlib-2.0.0-py2.py3-none-any.whl
/.codex_tmp/rsa-4.9.1-py3-none-any.whl
/.codex_tmp/semantic_version-2.10.0-py2.py3-none-any.whl
/.codex_tmp/setuptools-82.0.1-py3-none-any.whl
/.codex_tmp/simplejson-4.1.1-cp312-cp312-win_amd64.whl
/.codex_tmp/six-1.17.0-py2.py3-none-any.whl
/.codex_tmp/slixmpp-1.8.6.tar.gz
/.codex_tmp/soupsieve-2.8.3-py3-none-any.whl
/.codex_tmp/sqlparse-0.5.5-py3-none-any.whl
/.codex_tmp/swagger_spec_validator-3.0.4-py2.py3-none-any.whl
/.codex_tmp/tenacity-9.1.4-py3-none-any.whl
/.codex_tmp/text_unidecode-1.3-py2.py3-none-any.whl
/.codex_tmp/tqdm-4.67.3-py3-none-any.whl
/.codex_tmp/typing_extensions-4.15.0-py3-none-any.whl
/.codex_tmp/typing_inspection-0.4.2-py3-none-any.whl
/.codex_tmp/tzdata-2026.2-py2.py3-none-any.whl
/.codex_tmp/tzlocal-5.3.1-py3-none-any.whl
/.codex_tmp/ua_parser-1.0.2-py3-none-any.whl
/.codex_tmp/ua_parser_builtins-202603-py3-none-any.whl
/.codex_tmp/urllib3-2.6.3-py3-none-any.whl
/.codex_tmp/user_agents-2.2.0-py3-none-any.whl
/.codex_tmp/vine-5.1.0-py3-none-any.whl
/.codex_tmp/wcwidth-0.6.0-py3-none-any.whl
/.codex_tmp/yarl-1.23.0-cp312-cp312-win_amd64.whl
/.codex_tmp/zstandard-0.25.0-cp312-cp312-win_amd64.whl
/LOGGING_SETUP.md
/test_logging.py
