.container-xxl { max-width: 100%; }
.copyable { cursor: pointer; }
th[data-col] { cursor: pointer; position: relative; }
th[data-col].sorting-asc::after { content: " ▲"; font-size: 0.7em; }
th[data-col].sorting-desc::after { content: " ▼"; font-size: 0.7em; }
