.container-xxl { max-width: 100%; }
.copyable { cursor: pointer; }
th[data-col] { cursor: pointer; position: relative; }
th[data-col].sorting-asc::after { content: " ▲"; font-size: 0.7em; }
th[data-col].sorting-desc::after { content: " ▼"; font-size: 0.7em; }

tr.not-requested {
    background-color: rgba(255, 255, 255, 0.03) !important;
}

tr.not-requested td {
    color: #9da5ad;
}

tr.not-requested td:first-child {
    border-left: 3px solid #6c757d !important;
}
